# copy this file to .env and fill in the values
# default configuration for the production environment
NODE_ENV=production

# database configuration
PG_USER=
PG_PASSWORD=
PG_DATABASE=
PG_HOST=
ENDPOINT_ID=

# secret key
JWT_SECRET=

# aws s3 configuration
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET_NAME=
AWS_REGION=

# email configuration
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# frontend url
FRONTEND_URL=